[alias]
	a = add
	c = commit
	d = diff
	ds = diff --staged
	dsw = diff --staged --word-diff
	dw = diff --word-diff
	l = log --decorate --oneline --graph
	la = log --all --decorate --oneline --graph
	pf = push --force-with-lease --force-if-includes
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive --autostash --autosquash
	rs = rebase --show-current-patch
	s = status
	st = stash --include-untracked
	stp = stash pop stash@{0}
	su = submodule update
	suir = submodule update --init --recursive
[init]
	defaultBranch = master
